.images
    a.large__image(href="asset/image/be-different.jpg")
        img.small__image(src="asset/image/be-different.jpg", alt="be different")
    a.large__image(href="asset/image/animals.jpg")
        img.small__image(src="asset/image/animals.jpg", alt="animals")
    a.large__image(href="asset/image/nature.jpg")
        img.small__image(src="asset/image/nature.jpg", alt="nature")
    a.large__image(href="asset/image/forest.jpg")
        img.small__image(src="asset/image/forest.jpg", alt="forest")