.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.4s;
}

.side-nav__link,
.side-nav__close {
    padding: 8px 8px 8px 36px;
    text-decoration: none;
    font-size: 25px;
    color: $color-gray;
    display: block;
    transform: 0.3s;

    &:hover {
        color: $color-seashell;
    }
}

.side-nav__close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav__text {
    color: $color-white;
    font-size: 30px;
    padding: 15px;

    span {
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav__link {
        font-size: 18px;
    }

    .side-nav__text {
        font-size: 23px;
    }
}