.full_image {
    position: relative;
    z-index: -1;
    padding-top: 2.7rem;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    
    span {
        background-color: $color-black;
        color: $color-white;
        padding: 1rem;
        opacity: 0.9;
    }
}