.container {
    position: relative;
}

.slides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.slide__prev,
.slide__next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 2px;
    border-radius: 0 3px 3px 0;
    user-select: none;

    &:hover {
        background-color: rgba(0,0,0,0.8);
    }
}

.slide__next {
    right: 0;
    background-repeat: 3px 0 0 3px;
}

.number__text {
    color: $color-gray;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.container__text {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: $color-white;
}

.row::after {
    content: "";
    display: table;
    clear: both
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}