extends _component/layout/layout

block config
    -
        var title= 'Great Pictures'
            description= 'This is made using pure HTM5, CSS3 and JavaScript techniques.'

block content
    include _component/side-navigation/side-navigation
    include _component/menu/menu
    img.full_image(src="asset/image/be-different.jpg", alt="BE DIFFERENT")
    .text
        span I'm working to this project 