extends _component/layout/layout

block config
    -
        var title= 'Great Pictures'
            description= 'This is made using pure HTM5, CSS3 and JavaScript techniques.'

block content
    h1 I'm powerfull.